<% layout('layout/boilerplate') %>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <%- include('../partials/sidebar')%>

            <div class=" col-6 p-4">
                <h3>This presentation is for <%=tca.firstName%>
                        <%=tca.lastName%>
                </h1>
                <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
                <form id="client"  action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <script> var tcaID = `<%=tca._id%>` </script>
                    <div class="mb-3 input-group-lg">
                        <label class="form-label" for="name">First Name</label>
                        <input class="form-control" type="text" id="firstName" , name="tca[firstName]" value="<%=tca.firstName%>">
                    </div>
                    <div class="mb-3 input-group-lg">
                        <label class="form-label" for="name">Last Name</label>
                        <input class="form-control" type="text" id="lastName" , name="tca[lastName]" value="<%=tca.lastName%>">
                    </div>
                    <div class="mb-3 input-group-lg">
                        <label class="form-label" for="name">Address</label>
                        <input class="form-control" type="text" id="address" , name="tca[address]" value="<%=tca.address%>">
                    </div>
                    <div class="mb-3 input-group-lg">
                        <label class="form-label" for="description">Description</label>
                        <input class="form-control" type="text" id="description" , name="tca[description]" value="<%=tca.description%>">
                    </div class="mb-3">
                    <div class="mb-3 input-group-lg">
                        <button class="btn btn-success"> Save </button>
                    </div>
                </form>

                <form id="product1" class="form"  action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div class="mb-3">
                        <label class="form-label" for="name">Product Name</label>
                        <input class="form-control" type="text" id="scenarioName" , name="tca[scenarioone][name]" value="<%=tca.scenarioone.name%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Price</label>
                        <input class="form-control" type="text" id="scenarioPrice" placeholder="$0.00" name="tca[scenarioone][price]" 
                        value="<%=tca.scenarioone.price%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Down Payment</label>
                        <input class="form-control" type="text" id="scenarioDownPayment" placeholder="$0.000"
                            name="tca[scenarioone][downPayment]" value="<%=tca.scenarioone.downPayment%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Rate</label>
                        <input class="form-control" type="text" id="scenarioRate" placeholder="0.000%" name="tca[scenarioone][rate]"
                            value="<%=tca.scenarioone.rate%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Term</label>
                        <input class="form-control" type="text" id="scenarioTerm" placeholder="0" name="tca[scenarioone][term]"
                            value="<%=tca.scenarioone.term%>">
                    </div>
                    <div class="mb-3">
                            <button class="btn btn-success"> Save </button>
                        </div>
                </form>


                <form id="closingCosts1" class="form"  action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div class="mb-3">
                        <label class="form-label" for="name">APR related closing costs</label>
                        <input class="form-control" type="text" id="scenarioAPRCosts" placeholder="$0.00" name="tca[cc1][aprCosts]"
                            value="<%=tca.cc1.aprCosts%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Points</label>
                        <input class="form-control" type="text" id="scenarioPoints" placeholder="0.000%" name="tca[cc1][points]"
                            value="<%=tca.cc1.points%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Prepaid Escrows</label>
                        <input class="form-control" type="text" id="scenarioEscrow" placeholder="$0.00" name="tca[cc1][escrowFees]"
                            value="<%=tca.cc1.escrowFees%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Non-APR Costs</label>
                        <input class="form-control" type="text" id="scenarioAPR" placeholder="$0.00" name="tca[cc1][noAPRcosts]"
                            value="<%=tca.cc1.noAPRcosts%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Contributions</label>
                        <input class="form-control" type="text" id="scenarioContribution" placeholder="$0.00"
                            name="tca[cc1][contribution]" value="<%=tca.cc1.contribution%>">
                    </div>
                    <div class="mb-3">
                            <button class="btn btn-success"> Save </button>
                        </div>
                </form>

                <form id="monthlyCosts1" class="form"  action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div class="mb-3">
                        <label class="form-label" for="name">HOA dues</label>
                        <input class="form-control" type="text" id="scenarioHoa" placeholder="$0.00" name="tca[mc1][hoa]"
                            value="<%=tca.mc1.hoa%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Hazard Insurance Amount</label>
                        <input class="form-control" type="text" id="scenarioHazIns" placeholder="$0.00" name="tca[mc1][hazIns]"
                            value="<%=tca.mc1.hazIns%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Property Tax Amount</label>
                        <input class="form-control" type="text" id="scenarioTaxes" placeholder="0.00%" name="tca[mc1][taxes]"
                            value="<%=tca.mc1.taxes%>">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="name">Mortgage Insurance Amount</label>
                        <input class="form-control" type="text" id="scenarioPMI" placeholder="0.00%" name="tca[mc1][pmi]"
                            value="<%=tca.mc1.pmi%>">
                    </div>
                    <div class="mb-3">
                            <button class="btn btn-success"> Save </button>
                        </div>
                </form>





                <form id="product2" class="form" action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div>
                        <label class="form-label" for="name">Product Name</label>
                        <input class="form-control" type="text" id="scenarioName" , name="tca[scenariotwo][name]"
                            value="<%=tca.scenariotwo.name%>">
                    </div>
                    <div>
                        <label class="form-label" for="name">Price</label>
                        <input class="form-control" type="text" id="scenarioPrice" placeholder="$0.00" name="tca[scenariotwo][price]"
                            value="<%=tca.scenariotwo.price%>">
                    </div>
                    <div>
                        <label class="form-label" for="name">Down Payment</label>
                        <input class="form-control" type="text" id="scenarioDownPayment" placeholder="$0.000"
                            name="tca[scenariotwo][downPayment]" value="<%=tca.scenariotwo.downPayment%>">
                    </div>
                    <div>
                        <label class="form-label" for="name">Rate</label>
                        <input class="form-control" type="text" id="scenarioRate" placeholder="0.000%" name="tca[scenariotwo][rate]"
                            value="<%=tca.scenariotwo.rate%>">
                    </div>
                    <div>
                        <label for="name">Term</label>
                        <input class="form-control" type="text" id="scenarioTerm" placeholder="0" name="tca[scenariotwo][term]"
                            value="<%=tca.scenariotwo.term%>">
                    </div>
                    <button> Save </button>
                </form>


                <form id="closingCosts2" class="form"  action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div>
                        <label for="name">APR related closing costs</label>
                        <input class="form-control" type="text" id="scenarioAPRCosts" placeholder="$0.00" name="tca[cc2][aprCosts]"
                            value="<%=tca.cc2.aprCosts%>">
                    </div>
                    <div>
                        <label for="name">Points</label>
                        <input class="form-control" type="text" id="scenarioPoints" placeholder="0.000%" name="tca[cc2][points]"
                            value="<%=tca.cc2.points%>">
                    </div>
                    <div>
                        <label for="name">Prepaid Escrows</label>
                        <input class="form-control" type="text" id="scenarioEscrow" placeholder="$0.00" name="tca[cc2][escrowFees]"
                            value="<%=tca.cc2.escrowFees%>">
                    </div>
                    <div>
                        <label for="name">Non-APR Costs</label>
                        <input class="form-control" type="text" id="scenarioAPR" placeholder="$0.00" name="tca[cc2][noAPRcosts]"
                            value="<%=tca.cc2.noAPRcosts%>">
                    </div>
                    <div>
                        <label for="name">Contributions</label>
                        <input class="form-control" type="text" id="scenarioContribution" placeholder="$0.00"
                            name="tca[cc2][contribution]" value="<%=tca.cc2.contribution%>">
                    </div>
                    <button> Save </button>
                </form>

                <form id="monthlyCosts2" class="form" action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div>
                        <label for="name">HOA dues</label>
                        <input class="form-control" type="text" id="scenarioHoa" placeholder="$0.00" name="tca[mc2][hoa]"
                            value="<%=tca.mc2.hoa%>">
                    </div>
                    <div>
                        <label for="name">Hazard Insurance Amount</label>
                        <input class="form-control" type="text" id="scenarioHazIns" placeholder="$0.00" name="tca[mc2][hazIns]"
                            value="<%=tca.mc2.hazIns%>">
                    </div>
                    <div>
                        <label for="name">Property Tax Amount</label>
                        <input class="form-control" type="text" id="scenarioTaxes" placeholder="0.00%" name="tca[mc2][taxes]"
                            value="<%=tca.mc2.taxes%>">
                    </div>
                    <div>
                        <label for="name">Mortgage Insurance Amount</label>
                        <input class="form-control" type="text" id="scenarioPMI" placeholder="0.00%" name="tca[mc2][pmi]"
                            value="<%=tca.mc2.pmi%>">
                    </div>
                    <button> Save </button>
                </form>


                <form id="product3" class="form" action="/tcas/<%=tca._id%>?_method=PATCH" method="POST" target="dummyframe">
                    <div>
                        <label class="form-label" for="name">Product Name</label>
                        <input class="form-control" type="text" id="scenarioName" , name="tca[scenariothree][name]"
                            value="<%=tca.scenariothree.name%>">
                    </div>
                    <div>
                        <label class="form-label" for="name">Price</label>
                        <input class="form-control" type="text" id="scenarioPrice" placeholder="$0.00" name="tca[scenariothree][price]"
                            value="<%=tca.scenariothree.price%>">
                    </div>
                    <div>
                        <label class="form-label" for="name">Down Payment</label>
                        <input class="form-control" type="text" id="scenarioDownPayment" placeholder="$0.000"
                            name="tca[scenariothree][downPayment]" value="<%=tca.scenariothree.downPayment%>">
                    </div>
                    <div>
                        <label class="form-label" for="name">Rate</label>
                        <input class="form-control" type="text" id="scenarioRate" placeholder="0.000%" name="tca[scenariothree][rate]"
                            value="<%=tca.scenariothree.rate%>">
                    </div>
                    <div>
                        <label for="name">Term</label>
                        <input class="form-control" type="text" id="scenarioTerm" placeholder="0" name="tca[scenariothree][term]"
                            value="<%=tca.scenariothree.term%>">
                    </div>
                    <button> Save </button>
                </form>


                <form id="closingCosts3" class="form" action="/tcas/<%=tca._id%>?_method=PUT" method="POST" target="dummyframe">
                    <div>
                        <label for="name">APR related closing costs</label>
                        <input class="form-control" type="text" id="scenarioAPRCosts" placeholder="$0.00" name="tca[cc3][aprCosts]"
                            value="<%=tca.cc3.aprCosts%>">
                    </div>
                    <div>
                        <label for="name">Points</label>
                        <input type="text" id="scenarioPoints" placeholder="0.000%" name="tca[cc3][points]"
                            value="<%=tca.cc3.points%>">
                    </div>
                    <div>
                        <label for="name">Prepaid Escrows</label>
                        <input type="text" id="scenarioEscrow" placeholder="$0.00" name="tca[cc3][escrowFees]"
                            value="<%=tca.cc3.escrowFees%>">
                    </div>
                    <div>
                        <label for="name">Non-APR Costs</label>
                        <input type="text" id="scenarioAPR" placeholder="$0.00" name="tca[cc3][noAPRcosts]"
                            value="<%=tca.cc3.noAPRcosts%>">
                    </div>
                    <div>
                        <label for="name">Contributions</label>
                        <input type="text" id="scenarioContribution" placeholder="$0.00"
                            name="tca[cc3][contribution]" value="<%=tca.cc3.contribution%>">
                    </div>
                    <button> Save </button>
                </form>

                <form id="monthlyCosts3" class="form" action="/tcas/<%=tca._id%>?_method=PUT" method="POST" target="dummyframe">
                    <div>
                        <label for="name">HOA dues</label>
                        <input type="text" id="scenarioHoa" placeholder="$0.00" name="tca[mc3][hoa]"
                            value="<%=tca.mc3.hoa%>">
                    </div>
                    <div>
                        <label for="name">Hazard Insurance Amount</label>
                        <input type="text" id="scenarioHazIns" placeholder="$0.00" name="tca[mc3][hazIns]"
                            value="<%=tca.mc3.hazIns%>">
                    </div>
                    <div>
                        <label for="name">Property Tax Amount</label>
                        <input type="text" id="scenarioTaxes" placeholder="0.00%" name="tca[mc3][taxes]"
                            value="<%=tca.mc3.taxes%>">
                    </div>
                    <div>
                        <label for="name">Mortgage Insurance Amount</label>
                        <input type="text" id="scenarioPMI" placeholder="0.00%" name="tca[mc3][pmi]"
                            value="<%=tca.mc3.pmi%>">
                    </div>
                    <button> Save </button>
                </form>
            </div>

            <div class="col-4 p-4 card bg-light">
            <div class="row mr-3 mt-5">
                <div class="">
                    <h4>Notes</h1>
                        <form action="/tcas" method="POST">
                            <div class="mb-3">
                            
                                <textarea class="form-control" type="text" id="notes" name=" "
                                placeholder="Enter notes for your client here: " name="notes" id="notes" cols="30" rows="10"></textarea>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success"> Save </button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="/javascript/edit.js"></script>