<% layout('layout/boilerplate') %>
<body onload="computeLoan()">
    <main class="container mt-5 ml-5 mr-5">
        <div class="card">
            <h1> Hi <%=tca.firstName%>! </h1>
            <h2>
                <%= tca.address %>
            </h2>
        </div>


        <div class="card">
            <div>
                <span>Summary</span>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"> <%=tca.scenarioone.name%> </th>
                            <th scope="col"> <%=tca.scenariotwo.name%> </th>
                            <th scope="col"> <%=tca.scenariothree.name%> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Purchase Price</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">Loan Amount:</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">Interest Rate:</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">Term (months): </th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>


                        <tr>
                            <th scope="row">Payment</th>
                            <td id="payment"> </td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>



                        <tr>
                            <th scope="row">Cash to Close:</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                        <tr>
                            <th scope="row">Monthly Savings:</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <p><a href="/tcas/<%=tca._id%>/edit">Update</a></p>
        <p>
        <form action="/tcas/<%=tca._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        </p>
        <footer>
            <a href="/tcas">All TCAs</a>
        </footer>

        <script> var tca = `<%= tca %>` </script>
        <script src="/javascript/show.js"></script>
        

    </main>
</body>