<% layout('layout/boilerplate') %>
<body onload="computeAll()">
    <main class="container mt-5 ml-5 mr-5">
        <div class="card">
            <h1> Hi <%=tca.firstName%>! </h1>
            <h2>
                <%= tca.address %>
            </h2>
        </div>


        <div class="card">
            <div class="bg-dark bg-gradient" style="height: 50px">
                <span><h5 class="text-light">Summary</h5></span>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"> <%=tca.scenarioone.name%> </th>
                            <th scope="col"> <%=tca.scenariotwo.name%> </th>
                            <th scope="col"> <%=tca.scenariothree.name%> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Purchase Price</th>
                            <td id="price1">Mark</td>
                            <td id="price2">Mark</td>
                            <td id="price3">Mark</td>
                        </tr>
                        <tr>
                            <th scope="row">Loan Amount:</th>
                            <td id="loan1">Jacob</td>
                            <td id="loan2">Jacob</td>
                            <td id="loan3">Jacob</td>
                        </tr>
                        <tr>
                            <th scope="row">Interest Rate:</th>
                            <td id="rate1">Larry</td>
                            <td id="rate2">Larry</td>
                            <td id="rate3">Larry</td>
                        </tr>
                        <tr>
                            <th scope="row">Term (months): </th>
                            <td id="term1">Larry</td>
                            <td id="term2">Larry</td>
                            <td id="term3">Larry</td>
                        </tr>


                        <tr>
                            <th scope="row">Payment</th>
                            <td id="payment1"></td>
                            <td id="payment2"></td>
                            <td id="payment3"></td>
                        </tr>



                        <tr>
                            <th scope="row">Cash to Close:</th>
                            <td id="ctc1">Larry</td>
                            <td id="ctc2">Larry</td>
                            <td id="ctc3">Larry</td>
                        </tr>
                        <tr>
                            <th scope="row">Monthly Savings:</th>
                            <td id="difference1">Larry</td>
                            <td id="difference2">Larry</td>
                            <td id="difference3">Larry</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <p><a href="/tcas/<%=tca._id%>/edit">Update</a></p>
        <p>
        <form action="/tcas/<%=tca._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
        </p>
        <footer>
            <a href="/tcas">All TCAs</a>
        </footer>

        <script> const tca = <%- JSON.stringify(tca) %> </script>
        <script src="/javascript/show.js"></script>
        

    </main>
</body>