<% layout('layout/boilerplate') %>

    <body onload="computeAll()">
        <main class="container mt-5 ml-5 mr-5">
            <div class="card">
                <h1> Hi <%=tca.firstName%>! </h1>
                <h2>
                    <%= tca.address %>
                </h2>
            </div>


            <div class="card">
                <div class="bg-dark bg-gradient d-flex align-items-center" style="height: 60px">
                    <h5 class="text-light ml-3">Summary</h5>
                    <br>
                    <button type="button" class="btn btn-primary ml-auto mt-2 mb-2 mr-2 rounded-pill"
                        data-bs-toggle="modal" data-bs-target="#modal"> More Info</button>

                </div>
                <div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">
                                    <%=tca.scenarioone.name%>
                                </th>
                                <th scope="col">
                                    <%=tca.scenariotwo.name%>
                                </th>
                                <th scope="col">
                                    <%=tca.scenariothree.name%>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Purchase Price</th>
                                <td id="price1" class="p1"></td>
                                <td id="price2"></td>
                                <td id="price3"></td>
                            </tr>
                            <tr>
                                <th scope="row">Loan Amount:</th>
                                <td id="loan1"></td>
                                <td id="loan2"></td>
                                <td id="loan3"></td>
                            </tr>
                            <tr>
                                <th scope="row">Interest Rate:</th>
                                <td id="rate1"></td>
                                <td id="rate2"></td>
                                <td id="rate3"></td>
                            </tr>
                            <tr>
                                <th scope="row">Term (months): </th>
                                <td id="term1"></td>
                                <td id="term2"></td>
                                <td id="term3"></td>
                            </tr>
                            <tr>
                                <th scope="row">Payment</th>
                                <td id="payment1"></td>
                                <td id="payment2"></td>
                                <td id="payment3"></td>
                            </tr>
                            <tr>
                                <th scope="row">Cash to Close:</th>
                                <td id="ctc1"></td>
                                <td id="ctc2"></td>
                                <td id="ctc3"></td>
                            </tr>
                            <tr>
                                <th scope="row">Monthly Savings:</th>
                                <td class="font-weight-bold" id="difference1"></td>
                                <td class="font-weight-bold" id="difference2"></td>
                                <td class="font-weight-bold" id="difference3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
                tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel">Payment Breakdown</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">
                                            <%=tca.scenarioone.name%>
                                        </th>
                                        <th scope="col">
                                            <%=tca.scenariotwo.name%>
                                        </th>
                                        <th scope="col">
                                            <%=tca.scenariothree.name%>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Price</th>
                                        <td id="p1"></td>
                                        <td id="p2"></td>
                                        <td id="p3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">P&I:</th>
                                        <td id="pi1"></td>
                                        <td id="pi2"></td>
                                        <td id="pi3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Property Tax:</th>
                                        <td id="tax1"></td>
                                        <td id="tax2"></td>
                                        <td id="tax3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Homeowner's Ins: </th>
                                        <td id="ins1"></td>
                                        <td id="ins2"></td>
                                        <td id="ins3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Mtg Ins</th>
                                        <td id="mi1"></td>
                                        <td id="mi2"></td>
                                        <td id="mi3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">HOA:</th>
                                        <td id="hoa1"></td>
                                        <td id="hoa2"></td>
                                        <td id="hoa3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Monthly Payment:</th>
                                        <td id="piti1"></td>
                                        <td id="piti2"></td>
                                        <td id="piti3"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Closing Costs</button>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="exampleModalToggle2" aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalToggleLabel2">Closing Costs</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">
                                            <%=tca.scenarioone.name%>
                                        </th>
                                        <th scope="col">
                                            <%=tca.scenariotwo.name%>
                                        </th>
                                        <th scope="col">
                                            <%=tca.scenariothree.name%>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Down Payment:</th>
                                        <td id="d1"></td>
                                        <td id="d2"></td>
                                        <td id="d3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Loan To Value:</th>
                                        <td id="ltv1"></td>
                                        <td id="ltv2"></td>
                                        <td id="ltv3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">APR Costs:</th>
                                        <td id="apr1"></td>
                                        <td id="apr2"></td>
                                        <td id="apr3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">non-APR Costs:</th>
                                        <td id="noApr1"></td>
                                        <td id="noApr2"></td>
                                        <td id="noApr3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Points: </th>
                                        <td id="points1"></td>
                                        <td id="points2"></td>
                                        <td id="points3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Prepaids:</th>
                                        <td id="escrow1"></td>
                                        <td id="escrow2"></td>
                                        <td id="escrow3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Contributions:</th>
                                        <td id="cont1"></td>
                                        <td id="cont2"></td>
                                        <td id="cont3"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Cash to Close:</th>
                                        <td id="total1"></td>
                                        <td id="total2"></td>
                                        <td id="total3"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-primary" data-bs-target="#modal" data-bs-toggle="modal"
                                data-bs-dismiss="modal">Payment Breakdown</button>
                        </div>
                    </div>
                </div>
            </div>


            <p><a href="/tcas/<%=tca._id%>/edit">Update</a></p>
            <p>
            <form action="/tcas/<%=tca._id%>?_method=DELETE" method="POST">
                <button>Delete</button>
            </form>
            </p>
            <footer>
                <a href="/tcas">All TCAs</a>
            </footer>


            <script> const tca = <%- JSON.stringify(tca) %> </script>
            <script src="/javascript/show.js"></script>


        </main>
    </body>